<p>{{expense_string}} expense works!</p>

<button type="button"(click)="sayMessage()">
  Trigger alert message
</button>

<input type="text" [(ngModel)]="expense_string">

<div *ngIf="checker">
  this is shown when checker is true
</div>

<ul>
  <div *ngFor="let exp of myexpenses">
    <div  >
      <li style="color:green">
      {{ exp.name }} - {{ exp.amount }} - {{ exp.category }} - {{exp.date}}
      </li>
    </div>
    <!-- <ng-template #greaterblock>
      <p>If isValid is false</p>
    </ng-template> -->
  </div>
</ul>

<mat-card class="example-container">
<mat-form-field [formGroup]="itemsformgroup" >
  <label for="item-user_id">user_id</label>
  <input matInput formControlName="user_id" id="item-user_id" type="number" >
</mat-form-field>
  <br>
<mat-form-field>
  <label for="item-name">name</label>
  <input matInput formControlName="name" id="item-name" type="text" >
</mat-form-field>
<br>
<mat-form-field>
  <label for="category">category</label>
  <input matInput id="category"  formControlName="category" type="text">
</mat-form-field>
<br>
<mat-form-field>
  <label for="amount">amount</label>
  <input matInput id="amount" formControlName="amount" type="number">
</mat-form-field>
<br>
<mat-form-field>
  <label for="date">date</label>
  <input matInput id="date" formControlName="date" type="date">
</mat-form-field>
<br>
<br>
  <button mat-flat-button color="primary" (click)="emitItems()">Submit</button>
</mat-card>